{% extends 'global/base.html.twig' %}

{% block body %}
    <div id="slide">
        <div class="slide-container">
            {# change this asap #}
            <img src="/cache/1190x440{{ asset('upload/wallpaper.jpg') }}" width="1190" height="440"
                 alt="test"
            />
        </div>
    </div>
    <div id="news">
        {% if quickie %}
            <a href="{{ quickie.url }}">
                {{ quickie.content|nl2br }}
            </a>
        {% else %}
            <a href="https://discord.gg/4zbKY5Z">
                Bienvenue sur le site de la communauté francophone de Crowfall<br/>
                Rejoins nous sur Discord
            </a>
        {% endif %}
    </div>
    <div class="spacer"></div>

    {% include ':article/_part:list.html.twig' with { 'articleList': articleList, 'pagination': pagination  } only %}

{% endblock %}