{% extends 'global/base.html.twig' %}

{% block body %}
    <div id="slide">
        <div class="slide-container">
            {# change this asap #}
            <img src="{{ asset('upload/wallpaper.jpg') }}" width="1190" height="440"
                 alt="test"
            />
        </div>
    </div>
    <div id="news">
        <span class="news-title">Prochaine campagne :</span><br/>
        <span class="news-content">Le 09/12/2019 campagne "bain de sang" ! Chacun pour soi, pas d'import </span>
    </div>
    <div class="spacer"></div>

    {% include ':article/_part:list.html.twig' with { 'articleList': articleList } only %}


{% endblock %}