{% extends 'global/base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}


    <div id="main-container">

        <article>
            <div class="authentification">
                <h1>Bienvenue</h1>

                <div class="alert alert-primary" role="alert">
                    {{ 'registration.confirmed'|trans({'%username%': user.username}) }}
                </div>

                {% if targetUrl %}
                    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                {% endif %}
            </div>
        </article>
    </div>
{% endblock %}
