{% extends 'global/base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}


{% block body %}
    <div id="main-container">

        <article>

            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'authentification'}}) }}


            <h1>Registration</h1>

            {{ form_widget(form) }}
            <div>
                <button class="btn btn-default db" type="submit" id="_submit"
                        name="_submit">{{ 'registration.submit'|trans }}</button>
            </div>
            {{ form_end(form) }}

        </article>
    </div>
{% endblock %}